.App {
  text-align: center;
}

.wrapper {
  width: 50%;
  margin: auto;
}

.item {
  background-color: #81fea048;
  width: 90%;
  height: 80px;
  margin: 5px auto;
  border-radius: 10px;
  border: 1px solid #063113;
}

.nvotes {
  top:10px;
  width: 30px;
  height: 30px;
  color: black;
  display: inline-block;
  position: relative;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(3, 31, 0);
}

.textvotes {
  top:10px;
  width: 100px;
  height: 50px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  position: relative;
  margin: 10px;
}
 